*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#top-navigation{
    z-index: 1;
    height: 100px;
   background-color: rgb(0, 0, 0);
}
body{
   background-color: #F2F6FC;
}
#website-content{
    width: 70%;
}

#border{
    z-index: 1;
    transform: translate(0px,-100px);
    position: relative;
    height: 150px;
    width: 300px;
    border: 5px solid rgb(0, 0, 0);
}


#border::after{
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 95px;
    top: 95px;
    left: -5px;
    border-left: 5px solid rgb(143, 6, 6);
    border-right: 5px solid rgb(143, 6, 6);
    border-bottom: 5px solid rgb(143, 6, 6);
    background-color: black;

}

#logo{
    z-index: 2;
    height: 350px;
    transform: translate(-170px,-75px);

}

h1{
    text-align: center;
    margin-bottom: 3%;
    letter-spacing: 1px;
}
h2{
    text-align: center;
    font-size: 200%;
    margin-top: 3%;
}
h3{
    font-size: 150%;
    margin-bottom: 20px;
    margin-top: 28px;
}

.paragraphs{
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 1px;
}

.services-wrapper{
    display: flex;
    margin-top: 40px;
}

.service-boxes{
    height: 300px;
    width: 400px;
    cursor: pointer;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid black;
    margin-bottom: 3%;
}
.service-boxes:hover{
border: 2px solid red;

}


img{
    height: 222px;
    margin-left: auto;
    margin-right: auto;

}

.hide{
    display: none;
}